/* 가상 요소 선택자*/
/* ABC::before 인라인요소이다.*/

.box{
  width: 100px;
  height: 100px;
  background-color: orange;
}

.box::before{
  content:"뒤!";
}
.box::after{
  content:"앞!";
}

/*속성 선택자*/
/*[ABC]*/
[type="text"]{
  background-color:red;
}
[type="password"]{
  background-color:orange;
}

.animal{
  color:red;
}

.parent{
  width: 300px;
  height: 200px;
  background-color: red;
}

.child{
  width: 100px;
  height: inherit;
  background-color: orange;
  position: fixed;
  top: 100px;
  right: 10px;
}